h1,h5 {
    text-align: center;
}

a {
    color: red;
    text-decoration: none;
}

a:hover {
    color: tan;
}

/* todos los cajitas */
.cajaPrincipal {
    background-color: aqua;
    width: 500px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
}

/* todas las ranas*/
.rana {
    width: 100px;
    height: 100px;
    text-align: center;
    border: #000 1px solid;
    box-sizing: border-box;
}

.rana_green {
    background-color: green;   
}

.rana_yellow {
    background-color: yellow;
}

.rana_red {
    background-color: red;
}

/* ------------------------------ nivel 1 ----------------------------------- */
.nivel_1 {
    display: flex;
    justify-content: flex-end; /* Alinea elementos al lado derecho del contenedor */
    /*
    justify-content:
                    flex-start;     Alinea elementos al lado izquierdo del contenedor.
                    flex-end;       Alinea elementos al lado derecho del contenedor.
                    center;         Alinea elementos en el centro del contenedor.
                    space-between;  Muestra elementos con la misma distancia entre ellos.
                    space-around;   Muestra elementos con la misma separación alrededor de ellos.
    */
}

/* ------------------------------ nivel 2 ----------------------------------- */
.nivel_2 {
    display: flex;
    justify-content: center; /* Alinea elementos en el centro del contenedor */
}

/* ------------------------------ nivel 3 ----------------------------------- */
.nivel_3 {
    display: flex;
    justify-content: space-around; /* Muestra elementos con la misma separación alrededor de ellos */   
}

/* ------------------------------ nivel 4 ----------------------------------- */
.nivel_4 {
    display: flex;
    justify-content: space-between; /* Muestra elementos con la misma distancia entre ellos */   
}

/* ------------------------------ nivel 5 ----------------------------------- */
.nivel_5 {
    display: flex;
    align-items: flex-end; /* Alinea elementos a la parte inferior del contenedor. */ 
    /*
    align-items:
                flex-start; Alinea elementos a la parte superior del contenedor.
                flex-end;   Alinea elementos a la parte inferior del contenedor.
                center;     Alinea elementos en el centro (verticalmente hablando) del contenedor.
                baseline;   Muestra elementos en la línea base del contenedor
                stretch;    Elementos se estiran para ajustarse al contenedor.
    */ 
}

/* ------------------------------ nivel 6 ----------------------------------- */
.nivel_6 {                   
    display: flex;
    justify-content: center; /* Alinea elementos en el centro del contenedor */
    align-items: center;     /* Alinea elementos en el centro (verticalmente hablando) del contenedor.*/
    /* al centro del estanque, usando una combinación de justify-content y align-items */
}

/* ------------------------------ nivel 7 ----------------------------------- */
.nivel_7 {
    display: flex;
    justify-content: space-around;  /* Muestra elementos con la misma separación alrededor de ellos */
    align-items: flex-end;          /* Alinea elementos a la parte inferior del contenedor */
}

/* ------------------------------ nivel 8 ----------------------------------- */
.nivel_8 {
    display: flex;
    flex-direction: row-reverse; /* Elementos son colocados en la dirección opuesta al texto */
    /*
    flex-direction:
                    row;            Elementos son colocados en la misma dirección del texto.
                    row-reverse;    Elementos son colocados en la dirección opuesta al texto.
                    column;         Elementos se colocan de arriba hacia abajo.
                    column-reverse; Elementos se colocan de abajo hacia arriba.
    */
}

/* ------------------------------ nivel 9 ----------------------------------- */
.nivel_9 {
    display: flex;
    flex-direction: column; /* Elementos se colocan de arriba hacia abajo */
}

/* ------------------------------ nivel 10 ----------------------------------- */
.nivel_10 {
    display: flex;
    flex-direction: row-reverse;    /* Elementos son colocados en la dirección opuesta al texto.  */
    justify-content: flex-end;      /* Alinea elementos al lado derecho del contenedor */
}

/* ------------------------------ nivel 11 ----------------------------------- */
.nivel_11 {
    display: flex;
    flex-direction: column;     /* Elementos se colocan de arriba hacia abajo */
    justify-content: flex-end;  /* Alinea elementos al lado derecho del contenedor */
    /* usando flex-direction:  una columna justify-content cambia a vertical y align-items a horizontal.*/   
}

/* ------------------------------ nivel 12 ----------------------------------- */
.nivel_12 {
    display: flex;
    flex-direction: column-reverse;  /* Elementos se colocan de abajo hacia arriba */
    justify-content: space-between;  /* Muestra elementos con la misma distancia entre ellos */
    /* usando flex-direction:  una columna justify-content cambia a vertical y align-items a horizontal.*/   
}

/* ------------------------------ nivel 13 ----------------------------------- */
.nivel_13 {
    display: flex;
    flex-direction: row-reverse; /* Elementos son colocados en la dirección opuesta al texto */
    justify-content: center;     /* Alinea elementos en el centro del contenedor */
    align-items: flex-end;       /* Alinea elementos a la parte inferior del contenedor */
}

/* ------------------------------ nivel 14 ----------------------------------- */
.nivel_14 {
    display: flex;
}

.nivel_14 .rana_yellow {
    order: 1;
    /*
    A veces, invertir el orden de una fila o columna de un contenedor no es suficiente. 
    En esos casos, nosotros podemos aplicar la propiedad order a elementos individuales. 
    Por defecto, los elementos tienen un valor 0, pero nosotros podemos usar esta propiedad 
    para establecerlo a un número entero positivo o negativo.
    */
}

/* ------------------------------ nivel 15 ----------------------------------- */
.nivel_15 {
    display: flex;
}

.nivel_15 .rana_red {
    order: -1;  
}

/* ------------------------------ nivel 16 ----------------------------------- */
.nivel_16 {
    display: flex;
    align-items: flex-start; /* Alinea elementos a la parte superior del contenedor */
    
}

.nivel_16 .rana_yellow {
    align-self: flex-end; /* Alinea elementos a la parte inferior del contenedor */
    /*
    Otra propiedad que puedes aplicar a elementos individuales es align-self. 
    Esta propiedad acepta los mismos valores de align-items y sus valores son 
    usados para un elemento específico.

    align-self:
                flex-start; Alinea elementos a la parte superior del contenedor.
                flex-end;   Alinea elementos a la parte inferior del contenedor.
                center;     Alinea elementos en el centro (verticalmente hablando) del contenedor.
                baseline;   Muestra elementos en la línea base del contenedor
                stretch;    Elementos se estiran para ajustarse al contenedor.
    */     
}

/* ------------------------------ nivel 17 ----------------------------------- */
.nivel_17 {
    display: flex;
    align-items: flex-start; /* Alinea elementos a la parte superior del contenedor */
}

.nivel_17 .rana_yellow {
    order: 1; 
    align-self: flex-end; /* Alinea elementos a la parte inferior del contenedor */
}

/* ------------------------------ nivel 18 ----------------------------------- */
.nivel_18 {
    display: flex;
    flex-wrap: wrap; /* Los elementos se envuelven alrededor de líneas adicionales */
    /*
    flex-wrap: 
                nowrap;         Cada elemento se ajusta en una sola línea.
                wrap;           Los elementos se envuelven alrededor de líneas adicionales.
                wrap-reverse;   Los elementos se envuelven alrededor de líneas adicionales en reversa.
    */
}

/* ------------------------------ nivel 19 ----------------------------------- */
.nivel_19 {
    display: flex;
    flex-direction: column; /* Elementos se colocan de arriba hacia abajo */
    flex-wrap: wrap;        /* Los elementos se envuelven alrededor de líneas adicionales */
}

/* ------------------------------ nivel 20 ----------------------------------- */
.nivel_20 {
    display: flex;
    flex-flow: column wrap; /* Las dos propiedades flex-direction y flex-wrap 
    son usadas a menudo en conjunto, con la propiedad abreviada flex-flow, la cual 
    fue creada para combinarlas. Esta propiedad abreviada, acepta un valor de cada 
    una separada por un espacio.*/
}

/* ------------------------------ nivel 21 ----------------------------------- */
.nivel_21 {
    display: flex;
    flex-wrap: wrap; /* Los elementos se envuelven alrededor de líneas adicionales */
    align-content: flex-start; /* Las líneas se posicionan en la parte superior del contenedor */
    /*
    align-content:
                    flex-start;     Las líneas se posicionan en la parte superior del contenedor.
                    flex-end;       Las líneas se posicionan en la parte inferior del contenedor.
                    center;         Las líneas se posicionan en el centro (verticalmente hablando) del contenedor.
                    space-between;  Las líneas se muestran con la misma distancia entre ellas.
                    space-around;   Las líneas se muestran con la misma separación alrededor de ellas.
                    stretch;        Las líneas se estiran para ajustarse al contenedor.

    Esto puede ser confuso, pero align-content determina el espacio entre las líneas, 
    mientras que align-items determina como los elementos en su conjunto están alineados dentro del contenedor. 
    Cuando hay solo una línea, align-content no tiene efecto.
    */
}

/* ------------------------------ nivel 22 ----------------------------------- */
.nivel_22 {
    display: flex;
    flex-wrap: wrap; /* Los elementos se envuelven alrededor de líneas adicionales */
    align-content: flex-end; /* Las líneas se posicionan en la parte inferior del contenedor */
}

/* ------------------------------ nivel 23 ----------------------------------- */
.nivel_23 {
    display: flex;
    flex-wrap: wrap; /* Los elementos se envuelven alrededor de líneas adicionales */
    flex-direction: column-reverse; /* Elementos se colocan de abajo hacia arriba */
    align-content: center; /* Las líneas se posicionan en el centro (verticalmente hablando) del contenedor */
}

/* ------------------------------ nivel 24 ----------------------------------- */
.nivel_24 {
    display: flex;
    flex-direction: column-reverse; /* Elementos son colocados en la dirección opuesta al texto */
    flex-wrap: wrap-reverse;        /* Los elementos se envuelven alrededor de líneas adicionales en reversa */
    /*flex-flow: column-reverse wrap-reverse;*/ /* lo mismo que arriba pero en una linea */
    justify-content: center;        /* Alinea elementos en el centro del contenedor */
    align-content: space-between;   /* Las líneas se muestran con la misma distancia entre ellas */
}
